<div class="row">
  <div class="large-12 columns">
    <div class="panel callout radius">
      <h1><u>F</u>oundation + <u>A</u>ngularJS + <u>R</u>equireJS</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h4>{{ vm.awesomeThings[0] }}</h4>
    <p>
      The most advanced responsive front-end framework in the world.
    </p>

    <h4>{{ vm.awesomeThings[1] }}</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>{{ vm.awesomeThings[2] }}</h4>
    <p>RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node. Using a modular script loader like RequireJS will improve the speed and quality of your code.</p>
  </div>
</div>